<p class="title">颜色</p>
<p class="intro">你可以把它设成某种和你爱吃的东西有关的颜色。</p>
<div>
  <n-avatar
    [customStyle]="{
      color: 'yellow',
      backgroundColor: 'red'
    }"
  >
    <!-- ng-template通过组件投影和指令获取会是一个注释节点 -->
    <!-- <ng-template *nAvatarText> M </ng-template> -->
    <span *nAvatarText> M </span>
  </n-avatar>
  <n-avatar
    [customStyle]="{
      color: 'yellow',
      backgroundColor: 'red'
    }"
  >
    Q
  </n-avatar>
  <n-avatar
    [customStyle]="{
      color: 'yellow',
      backgroundColor: 'red'
    }"
  >
    <span *nAvatarText> M </span>
    Q
  </n-avatar>
</div>
