n-avatar {
    max-width: 100%;
    margin-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.intro {
    margin-bottom: 16px;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 16px;
}
