<p class="title">颜色</p>
<p class="intro">你可以把它设成某种和你爱吃的东西有关的颜色。</p>
<div>
  <n-avatar
    [customStyle]="{
      color: 'yellow',
      backgroundColor: 'red'
    }"
  >
    <ng-template nAvatarText> M </ng-template>
  </n-avatar>
  <n-avatar
    [customStyle]="{
      color: 'yellow',
      backgroundColor: 'red'
    }"
  >
    Q
  </n-avatar>
  <n-avatar
    [customStyle]="{
      color: 'yellow',
      backgroundColor: 'red'
    }"
  >
    <ng-template nAvatarText> M </ng-template>
    Q
  </n-avatar>
</div>
